name: Android Build Oficial (Final v2)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '8.2'
        
    # 1. Gera os arquivos
    - name: Build Release App
      run: gradle bundleRelease assembleRelease -x lint --stacktrace

    # 2. Assina o AAB (Nomes corrigidos para o plugin ilharp)
    - name: Assinar AAB (Bundle)
      uses: ilharp/sign-android-release@v1
      id: sign_aab
      with:
        releaseDir: app/build/outputs/bundle/release
        signingKey: ${{ secrets.SIGNING_KEY }}
        keyAlias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    # 3. Assina o APK (Nomes corrigidos para o plugin ilharp)
    - name: Assinar APK (Instalador)
      uses: ilharp/sign-android-release@v1
      id: sign_apk
      with:
        releaseDir: app/build/outputs/apk/release
        signingKey: ${{ secrets.SIGNING_KEY }}
        keyAlias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    # 4. Upload do AAB Assinado
    - name: Download AAB (Play Store)
      uses: actions/upload-artifact@v4
      with:
        name: VLTV-Play-PlayStore-AAB
        path: ${{ steps.sign_aab.outputs.signedReleaseFile }}

    # 5. Upload do APK Assinado
    - name: Download APK (Instalador TV e Celular)
      uses: actions/upload-artifact@v4
      with:
        name: VLTV-Play-Instalador-APK
        path: ${{ steps.sign_apk.outputs.signedReleaseFile }}
