name: Android Build Oficial

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '8.2'
        
    # Gera o APK (para teste) e o AAB (para a Play Store)
    - name: Build Release App
      run: gradle bundleRelease assembleRelease -x lint --stacktrace

    # Assina os arquivos
    - name: Assinar o Aplicativo
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/bundle/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    # Upload do AAB (O que você vai subir na Play Store)
    - name: Upload AAB Assinado (Play Store)
      uses: actions/upload-artifact@v4
      with:
        name: VLTV-Play-Bundle-AAB
        path: app/build/outputs/bundle/release/*.aab

    # Upload do APK (O que você instala na TV)
    - name: Upload APK Assinado (Instalador)
      uses: actions/upload-artifact@v4
      with:
        name: VLTV-Play-Instalador-APK
        path: app/build/outputs/apk/release/*.apk
