name: Android Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '8.2'
        
    # Comando original que você usa para baixar e compilar
    - name: Build with Gradle (Direct)
      run: gradle assembleRelease --stacktrace

    # Bloco de Assinatura (incluído agora)
    - name: Assinar o Aplicativo
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    # Upload do arquivo final já assinado
    - name: Upload APK Assinado
      uses: actions/upload-artifact@v4
      with:
        name: app-release-assinado
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
