name: Android Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    # Este passo baixa o Gradle automaticamente do repositório oficial
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '8.2'
        
    # O segredo está no "-x lint" para ignorar o erro que apareceu antes
    - name: Build with Gradle (Direct)
      run: gradle assembleRelease -x lint --stacktrace

    # Assina o APK com as chaves que você salvou nos Secrets
    - name: Assinar o Aplicativo
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    # Salva o arquivo final para você baixar
    - name: Upload APK Assinado
      uses: actions/upload-artifact@v4
      with:
        name: app-vltv-play-assinado
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
